<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean class="com.example3.Spring.Spring_Project3.Employee"
		id="Employee1">


		<property name="technology">
			<list>
				<value>HTML</value>
				<value>CSS</value>
				<value>JavaScript</value>

			</list>

		</property>

		<property name="project">
			<set>
				<value>Project-1</value>
				<value>Project-2</value>
				<value>Project-3</value>

			</set>

		</property>

		<property name="company">
			<map>
				<entry key="121" value="XYZ"></entry>
				<entry key="325" value="ABC"></entry>
			</map>


		</property>




	</bean>














</beans>